
{
    # Global settings
    email carter.kiefer2010@outlook.com
}

# Flask apps (modify/add as needed)
dvsa5.retailtradescanner.com {
    reverse_proxy localhost:5001
}

dvsa15.retailtradescanner.com {
    reverse_proxy localhost:5002
}

dvsa10.retailtradescanner.com {
    reverse_proxy localhost:5003
}

mcde10.retailtradescanner.com {
    reverse_proxy localhost:5004
}

mcde20.retailtradescanner.com {
    reverse_proxy localhost:5005
}

mcde30.retailtradescanner.com {
    reverse_proxy localhost:5006
}

mcin10.retailtradescanner.com {
    reverse_proxy localhost:5007
}

mcin20.retailtradescanner.com {
    reverse_proxy localhost:5008
}

mcin30.retailtradescanner.com {
    reverse_proxy localhost:5009
}

pede10.retailtradescanner.com {
    reverse_proxy localhost:5010
}

pede20.retailtradescanner.com {
    reverse_proxy localhost:5011
}

pede30.retailtradescanner.com {
    reverse_proxy localhost:5012
}

pein10.retailtradescanner.com {
    reverse_proxy localhost:5013
}

pein20.retailtradescanner.com {
    reverse_proxy localhost:5014
}

pein30.retailtradescanner.com {
    reverse_proxy localhost:5015
}

pde10.retailtradescanner.com {
    reverse_proxy localhost:5016
}

pde15.retailtradescanner.com {
    reverse_proxy localhost:5017
}

pde20.retailtradescanner.com {
    reverse_proxy localhost:5018
}

pin20.retailtradescanner.com {
    reverse_proxy localhost:5019
}

pin50.retailtradescanner.com {
    reverse_proxy localhost:5020
}

pin75.retailtradescanner.com {
    reverse_proxy localhost:5021
}

v125.retailtradescanner.com {
    reverse_proxy localhost:5022
}

v25.retailtradescanner.com {
    reverse_proxy localhost:5023
}

v1.5.retailtradescanner.com {
    reverse_proxy localhost:5024
}

v75.retailtradescanner.com {
    reverse_proxy localhost:5025
}

v2.retailtradescanner.com {
    reverse_proxy localhost:5026
}

v2.5.retailtradescanner.com {
    reverse_proxy localhost:5027
}

v3.retailtradescanner.com {
    reverse_proxy localhost:5028
}

v5.retailtradescanner.com {
    reverse_proxy localhost:5029
}

# Automatic HTTPS and TLS settings
*.retailtradescanner.com {
    tls {
        protocols tls1.2 tls1.3
    }
}
